.nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #111;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color .3s ease-in-out;

    &:hover,
    &:focus {
      color: #684fb9;
    }
  }
  
  .link.active {
    color: #684fb9;
  }
  