/* src/components/Navigation/Navigation.module.css */
.nav {
    padding: 16px;
    display: flex;
    gap: 12px;
    background-color: #0d253f;
}
.link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.active {
    color: #1ed5a9;
}

