.form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
.input {
    padding: 10px;
    width: 240px;
    border-radius: 6px;
  }
  
.button {
    padding: 10px 20px;
    color: white;
    background-color: #0077ff;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0080ff;
}