.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.item {
    text-align: center;
    max-width: 250px;
    border: 1px solid #684fb9;

    &:hover,
    &:focus {
    border-color: #684fb9;
    transform: scale(1.02);
}
}

.poster {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}


.item a {
    text-decoration: none;
    color: #684fb9;
    font-size: 18px;     
    display: block;
    transition: transform 0.2s;
}

.item a:hover {
    transform: scale(1.03);
}