.cast {
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 40px;
justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 300px;
    padding: 0 5px;
    box-shadow: rgba(72, 6, 6, 0.35) 0px 3px 10px;

    &:hover,
    &:focus {
    border-color: #753d3d;
    transform: scale(1.03);
}
}

.img {
    width: 120px;
    height: 180px;
    padding-top: 15px;
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.character {
    font-size: 14px;
    margin-bottom: 10px;
}

